.button{
  width: 150px;
  height: 40px;
  background: $blue;
  border: none;
  outline: none;
  font-family: $OpenSans ;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  cursor: pointer;

}